<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="image-aboutus-banner"style="margin-top:70px">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">WELCOME</h1> 
        </div>
    </div>
  </div>
</div>

<div class="container team-sektion paddingTB60">
	<div class="row">
		<div class="site-heading text-center">
			<h2>Team</h2>
			<p><br></p>
			<div class="border"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 team-box">
		  <div class="team-img thumbnail">
		    <div class="team-content text-center">    
		        <h3>Sushma T N</h3>
		        <div class="border-team"></div>
		    </div>
		  </div>
	  </div>
	  <div class="col-md-4 team-box">
		  <div class="team-img thumbnail">  
		    <div class="team-content text-center">    
		        <h3>Sneha Saha</h3>
		        <div class="border-team"></div>  
		    </div>
		  </div>
	  </div>
	</div>

